div.wrapper_index
    div.page_index
        h1 Thoughts by Coty Beasley
        h3._subhead Musings, notes, and nonsense.
        section.posts
            for post, slug in public.articles._data
                a.item(href="/articles/#{ slug }")
                    div.article
                        div.container
                            div.thumb(style='background-image: url(/assets/images/' + post.headerImage + ');')
                            div.text
                                span.title= post.title
                                div.details
                                    span(class= "_" + post.type.toLowerCase()).type= post.type
                                    span= "from "
                                    span.date= post.date
    footer
        div.text
            span="This site was built by"
            a(href="https://coty.design" target="_blank") Coty Beasley
            span="."